body {
  font-size: 17px !important;
  font-weight: 200 !important;
  color: #454545 !important;
}

.btn {
  font-size: 17px !important;
  font-weight: 200 !important;
}

.jumbotron {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #000000;
}

.logo {
  text-align: center;
}

.profile-img {
  max-height: 180px;
}

p {
  font-size: 17px;
  font-weight: 200;
  color: #454545;
}
